.header {
    display: flex;
    flex-direction: column;
    background: url('./header.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
}